<ul class="horizontal-list">
  {% for item in include.collection %}
    <li class="card {% if item.url == nil %}unclickable{% endif %}">
      <div class="gif-wrapper">
        <div class="static-container">
          <img class="static-img" src="{{ item.image }}" alt="{{ item.title }}">
          <img class="play-overlay" src="/assets/img/project-overlay-gif.png" alt="GIF indicator">
        </div>
        <img class="hover-gif" src="{{ item.gif }}" alt="{{ item.title }} animation">
      </div>
      <div class="overlay"></div>
      {% if item.url %}
        <a href="{{ item.url }}" target="_blank" rel="noreferrer">
          <span class="header">
            {{ item.title }}
            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
          </span>
          <p class="body">
            {{ item.desc }}
          </p>
        </a>
      {% else %}
        <div class="content">
          <span class="header">
            {{ item.title }}
            {% if item.highlight %}
              <mark>{{ item.highlight }}</mark>
            {% endif %}
          </span>
          <p class="body">
            {{ item.desc }}
          </p>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
