@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html { height: 100%; }

body {
  font-family: "Inter", -apple-system, "avenir next", avenir, roboto, noto, ubuntu, "helvetica neue", helvetica, sans-serif;
  font-size: 1rem;
  line-height: 2;
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    125deg,
    var(--bg) 0%,
    rgba(40, 35, 65, 1) 45%,
    rgba(45, 35, 75, 1) 65%,
    rgba(30, 35, 60, 1) 100%
  );
  
  &::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.075) 1px,
      transparent 1px
    );
    background-size: 30px 30px;
    opacity: 0.5;
  }
}

:root {
  --headings: #74c0fc;
  --links: #91A7FF;
  --highlight: #41C7C7;
  --bg: #1f242A;
  --bg-secondary: #323945;
  --text: #adb5bd;
  --text-secondary: #9CA3AF;
}

.w {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em 2em;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@mixin dark-appearance {
  html, body  {
    --headings: #74c0fc;
    --links: #91A7FF;
    --highlight: #41C7C7;
    --bg: #1f242A;
    --bg-secondary: #323945;
    --text: #adb5bd;
    --text-secondary: #9CA3AF;
    --code-text: #91A7FF;
    --share-text: #C4C4C4;
  };
}

html[data-theme="dark"] { @include dark-appearance; }

// Remove unused styles and keep only dark theme since light theme is not used
html, body {
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
}

a {
  color: var(--links);
}

mark {
  padding: 0.4em;
  background-color: var(--highlight);
  font-size: 0.6em;
  letter-spacing: 1px;
}

.credits {
  font-size: 0.8em;
  color: var(--text);
  margin: 8em auto -4em;
  text-align: center;
  
  a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    
    &:hover {
      color: var(--links);
    }
  }
}
