<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}" data-theme="{{ site.theme_config.appearance }}">
        {%- include head.html -%}
  <body>
    <main class="page-content">
      <div class="w">
        {{ content }}
        <div class="credits">
          &copy;&nbsp;{{ "now" | date: "%Y" }}&nbsp;{{site.author}}
          &nbsp;•&nbsp;
          <a href="https://x.com/ergeorgiev" target="_blank" rel="noreferrer">twitter</a>
          &nbsp;•&nbsp;
          <a href="https://github.com/ergeorgiev" target="_blank" rel="noreferrer">github</a>
          </br>
          Special thanks to <a href="https://github.com/abhinavs/moonwalk" target="_blank" rel="noreferrer">Abhinav Saxena (theme)</a> 
          and testers Dimitar Tsenov, Karlis Zakis, Nikola Ivanov, Nikolai Valkov, Toms Jugans.
        </div>
      </div>
    </main>
  </body>
</html>
