<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body style="background-color:#181a1b;">
    <div class="wrapper">
      <header>
        <h1><strong><a href="{{ "/" | absolute_url }}">EdsWindowsMods</a></strong></h1>

		<img src="./assets/img/logo-edswindowsmods.png" alt="Logo" />

        <p>A better Windows experience.</p>
        
		<a target="_blank" href="https://www.patreon.com/edswindowsmods">
		  <img src="./assets/img/logo-patreon-become.png" alt="PatreonLogo">
		</a>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><b>Special thanks to testers:</b> Dimitar Tsenov, Karlis Zakis, Nikola Ivanov, Nikolai Valkov, Toms Jugans.</p>
        <p>By <a href="./">ERGeorgiev</a></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
